@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff");
  src: local("O"), url("../fonts/SF-Pro-Display-Regular.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manifold Extended CF";
  src: url("../fonts/ManifoldExtendedCF-Light.woff2");
  src: local("O"), url("../fonts/ManifoldExtendedCF-Light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manifold Extended CF";
  src: url("../fonts/ManifoldExtendedCF-Thin.woff2");
  src: local("O"), url("../fonts/ManifoldExtendedCF-Thin.woff2") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body a {
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  padding-right: 261px;
  padding-left: 261px;
}
@media (max-width: 1920px) {
  .wrapper {
    padding-right: calc(7.9px + 253.1 * (100vw - 320px) / 1600);
    padding-left: calc(7.9px + 253.1 * (100vw - 320px) / 1600);
  }
}

.header {
  z-index: 10;
  width: 100%;
  background: #ffffff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 66px;
}
.header__row a {
  color: #000000;
}
@media (max-width: 1920px) {
  .header__row {
    margin-top: calc(10px + 24 * (100vw - 320px) / 1600);
    margin-bottom: calc(48px + 18 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 800px) {
  .header__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  text-align: center;
  z-index: 10;
  margin-bottom: 65px;
}
@media (max-width: 800px) {
  .header__logo {
    width: 82px;
    height: 34px;
    margin-bottom: 0px;
    width: calc(55px + 27 * (100vw - 320px) / 480);
    height: calc(23px + 11 * (100vw - 320px) / 480);
  }
}

body._lock {
  overflow: hidden;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 800px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
    gap: 25px;
  }
}

.menu__link {
  color: #000000;
  font-size: 34px;
  letter-spacing: -1.71px;
}
@media (max-width: 1920px) {
  .menu__link {
    font-size: calc(14px + 20 * (100vw - 320px) / 1600);
  }
}

.menu__icon {
  display: none;
  font-size: 19px;
  color: #CFB28F;
}

@media (max-width: 800px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 339px;
    background: #221E29;
    padding: 108px 60px 60px 60px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 34px;
    background: #ffffff;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active .menu__link {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .menu__body._active .menu__link:hover {
    background: none;
    color: #D8EFE3;
  }
}
.enum__vertical-line {
  position: absolute;
  height: 10px;
  width: 2373px;
  background: linear-gradient(157deg, #F958A1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(253, 88, 119, 0.65) 55%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0px;
  right: 5px;
}
@media (max-width: 1920px) {
  .enum__vertical-line {
    height: calc(2.16px + 7.84 * (100vw - 320px) / 1600);
    width: calc(521px + 1852 * (100vw - 320px) / 1600);
    right: calc(2px + 3 * (100vw - 320px) / 1600);
  }
}

.enum__horizontal-line {
  position: absolute;
  height: 10px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(249, 88, 161)), color-stop(10%, rgba(251, 88, 141, 0.98)), color-stop(23%, rgba(251, 88, 135, 0.91)), color-stop(39%, rgba(252, 88, 133, 0.8)), color-stop(55%, rgba(253, 88, 119, 0.65)), color-stop(73%, rgba(253, 88, 118, 0.48)), color-stop(91%, rgba(255, 88, 101, 0.23)), to(rgba(255, 89, 91, 0.21)));
  background: linear-gradient(to bottom right, rgb(249, 88, 161) 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(253, 88, 119, 0.65) 55%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
  bottom: 0px;
  right: 0px;
}
@media (max-width: 1920px) {
  .enum__horizontal-line {
    height: calc(2.04px + 7.96 * (100vw - 320px) / 1600);
  }
}

.enum__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.enum__title {
  font-size: 70px;
  letter-spacing: -2.06px;
  margin-top: 96px;
}
@media (max-width: 1920px) {
  .enum__title {
    font-size: calc(19px + 51 * (100vw - 320px) / 1600);
    margin-top: calc(21px + 75 * (100vw - 320px) / 1600);
  }
}

.enum__subtitle {
  font-family: "Roboto Condensed";
  font-size: 38px;
  letter-spacing: -2.06px;
}
@media (max-width: 1920px) {
  .enum__subtitle {
    font-size: calc(11px + 27 * (100vw - 320px) / 1600);
    letter-spacing: calc(-0.45px + -1.61 * (100vw - 320px) / 1600);
  }
}

.enum__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.enum__first-row-left {
  width: 50%;
  height: 788px;
  position: relative;
}
.enum__first-row-left h2 {
  margin-bottom: 108px;
}
@media (max-width: 1920px) {
  .enum__first-row-left h2 {
    margin-bottom: calc(23.6px + 84.4 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__first-row-left {
    height: calc(171px + 617 * (100vw - 320px) / 1600);
  }
}

.enum__first-row-right {
  width: 50%;
  height: 788px;
}
.enum__first-row-right h2 {
  margin-bottom: 50px;
}
@media (max-width: 1920px) {
  .enum__first-row-right h2 {
    margin-bottom: calc(10px + 40 * (100vw - 320px) / 1600);
  }
}
.enum__first-row-right .enum__subtitle {
  margin-bottom: 105px;
}
@media (max-width: 1920px) {
  .enum__first-row-right .enum__subtitle {
    margin-bottom: calc(9.5px + 95.5 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__first-row-right {
    height: calc(171px + 617 * (100vw - 320px) / 1600);
  }
}

.enum__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.enum__second-row-left {
  width: 50%;
  height: 818px;
}
.enum__second-row-left h2 {
  margin-bottom: 108px;
}
@media (max-width: 1920px) {
  .enum__second-row-left h2 {
    margin-bottom: calc(23.6px + 84.4 * (100vw - 320px) / 1600);
  }
}
.enum__second-row-left p {
  margin-bottom: 132px;
}
@media (max-width: 1920px) {
  .enum__second-row-left p {
    margin-bottom: calc(28px + 104 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__second-row-left {
    height: calc(178px + 640 * (100vw - 320px) / 1600);
  }
}

.enum__second-row-right {
  width: 50%;
  height: 818px;
}
.enum__second-row-right h2 {
  margin-bottom: 137px;
}
@media (max-width: 1920px) {
  .enum__second-row-right h2 {
    margin-bottom: calc(30px + 107 * (100vw - 320px) / 1600);
  }
}
.enum__second-row-right p {
  margin-bottom: 103px;
}
@media (max-width: 1920px) {
  .enum__second-row-right p {
    margin-bottom: calc(22px + 81 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__second-row-right {
    height: calc(178px + 640 * (100vw - 320px) / 1600);
  }
}

.enum__third-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 150px;
}
.enum__third-row .enum__horizontal-line {
  top: 497px;
}
@media (max-width: 1920px) {
  .enum__third-row .enum__horizontal-line {
    top: calc(100px + 397 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__third-row {
    margin-bottom: calc(32px + 118 * (100vw - 320px) / 1600);
  }
}

.enum__third-row-left {
  width: 50%;
  height: 767px;
}
.enum__third-row-left h2 {
  margin-bottom: 108px;
}
@media (max-width: 1920px) {
  .enum__third-row-left h2 {
    margin-bottom: calc(23.6px + 84.4 * (100vw - 320px) / 1600);
  }
}
.enum__third-row-left p {
  margin-bottom: 280px;
}
@media (max-width: 1920px) {
  .enum__third-row-left p {
    margin-bottom: calc(51.6px + 228.4 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__third-row-left {
    height: calc(167px + 600 * (100vw - 320px) / 1600);
  }
}

.enum__third-row-right {
  width: 50%;
  height: 767px;
}
.enum__third-row-right h2 {
  margin-bottom: 108px;
}
@media (max-width: 1920px) {
  .enum__third-row-right h2 {
    margin-bottom: calc(17px + 91 * (100vw - 320px) / 1600);
  }
}
.enum__third-row-right p {
  margin-bottom: 280px;
}
@media (max-width: 1920px) {
  .enum__third-row-right p {
    margin-bottom: calc(47px + 233 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1920px) {
  .enum__third-row-right {
    height: calc(167px + 600 * (100vw - 320px) / 1600);
  }
}

.enum__margin-left {
  margin-left: 42px;
}
@media (max-width: 1920px) {
  .enum__margin-left {
    margin-left: calc(9px + 33 * (100vw - 320px) / 1600);
  }
}

.enum__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  letter-spacing: -2.61px;
  width: 462px;
  height: 103px;
  border-radius: 51.5px;
  border-width: 1.5px;
  border-color: #F857A6;
  border-style: solid;
}
.enum__button p {
  color: #F857A6;
  margin-bottom: 0px;
}
@media (max-width: 1920px) {
  .enum__button {
    width: calc(100px + 362 * (100vw - 320px) / 1600);
    height: calc(22px + 81 * (100vw - 320px) / 1600);
    border-radius: calc(11px + 40.5 * (100vw - 320px) / 1600);
    font-size: calc(12px + 18 * (100vw - 320px) / 1600);
    letter-spacing: calc(-0.57px + -2.04 * (100vw - 320px) / 1600);
  }
}

.location {
  position: relative;
}

.map {
  width: 1398px;
  height: 1535px;
  margin-bottom: 130px;
}
@media (max-width: 1920px) {
  .map {
    height: calc(333px + 1202 * (100vw - 320px) / 1600);
    width: calc(304px + 1094 * (100vw - 320px) / 1600);
  }
}

.location__button {
  position: absolute;
  bottom: 92px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  letter-spacing: -2.61px;
  width: 462px;
  height: 103px;
  border-radius: 51.5px;
  background-color: #727272;
}
.location__button p {
  color: #FFFFFF;
}
@media (max-width: 1920px) {
  .location__button {
    bottom: calc(22px + 70 * (100vw - 320px) / 1600);
    width: calc(100px + 362 * (100vw - 320px) / 1600);
    height: calc(22px + 81 * (100vw - 320px) / 1600);
    border-radius: calc(11px + 40.5 * (100vw - 320px) / 1600);
    font-size: calc(12px + 18 * (100vw - 320px) / 1600);
    letter-spacing: calc(-0.57px + -2.04 * (100vw - 320px) / 1600);
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom img {
  max-width: 98px;
}
@media (max-width: 1920px) {
  .footer__bottom img {
    max-width: calc(37px + 61 * (100vw - 320px) / 1600);
  }
}

.footer__top-subtitle {
  font-size: 32px;
  letter-spacing: -0.65px;
  margin-bottom: 26px;
}
@media (max-width: 1920px) {
  .footer__top-subtitle {
    font-size: calc(8.11px + 23.89 * (100vw - 320px) / 1600);
    letter-spacing: calc(-0.68px + 0.03 * (100vw - 320px) / 1600);
    margin-bottom: calc(10.53px + 15.47 * (100vw - 320px) / 1600);
  }
}

.footer__top-title {
  font-size: 98px;
  font-weight: 500;
}
@media (max-width: 1920px) {
  .footer__top-title {
    font-size: calc(24.5px + 73.5 * (100vw - 320px) / 1600);
  }
}

.footer__top-line {
  width: auto;
  height: 1.94px;
  background-color: #000000;
  margin-top: 29px;
  margin-bottom: 70px;
}
@media (max-width: 1920px) {
  .footer__top-line {
    margin-top: calc(38px + -9 * (100vw - 320px) / 1600);
    margin-bottom: calc(22px + 48 * (100vw - 320px) / 1600);
    height: calc(1.31px + 0.63 * (100vw - 320px) / 1600);
  }
}

.footer__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 181px;
}
@media (max-width: 1920px) {
  .footer__list-bottom {
    margin-bottom: calc(41px + 140 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 699px) {
  .footer__list-bottom {
    display: none;
  }
}

.footer__list-bottom-mobile {
  display: none;
}
@media (max-width: 699px) {
  .footer__list-bottom-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list-bottom-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}
@media (max-width: 1920px) {
  .footer__list-bottom-first-row {
    margin-bottom: calc(28px + 14 * (100vw - 320px) / 379);
  }
}

.footer__list-bottom-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-size: 22px;
  letter-spacing: -1.79px;
}
@media (max-width: 1920px) {
  .footer__text {
    font-size: calc(12px + 10 * (100vw - 451px) / 1469);
    letter-spacing: calc(-0.65px + -1.14 * (100vw - 700px) / 1220);
  }
}
@media (max-width: 699px) {
  .footer__text {
    letter-spacing: calc(-1.21px + -0.58 * (100vw - 320px) / 379);
    font-size: calc(12px + 7 * (100vw - 320px) / 379);
  }
}

.footer__text a:hover {
  color: #AF5871;
}