//Тут будут глобальные переменные
:root {
    --container-width:1400px; //Ширина контентной части
    --container-padding-x: 261px //Отступ слева и справа контентной части

    --section-padding-y-main:16px; //Отступ снизу и сверху у секций

    --font-family-base: 'Roboto', sans-serif;

    --transition-duration: 0.2s;
}

