@mixin adaptive-value($property, $startSize ,$minSize, $maxWidth, $minWidth) {
    $addSize: $startSize - $minSize;
    $addWidth: $maxWidth - $minWidth;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$addWidth}));
}

//Шрифт
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: 'SF Pro Display';
    src: url("../fonts/SF-Pro-Display-Regular.woff");
    src: local("O"), url("../fonts/SF-Pro-Display-Regular.woff") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manifold Extended CF';
    src: url("../fonts/ManifoldExtendedCF-Light.woff2");
    src: local("O"), url("../fonts/ManifoldExtendedCF-Light.woff2") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manifold Extended CF';
    src: url("../fonts/ManifoldExtendedCF-Thin.woff2");
    src: local("O"), url("../fonts/ManifoldExtendedCF-Thin.woff2") format("truetype");
    font-weight: 100;
    font-style: normal;
}


// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        color: #000000;
    }
}



img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding-right: 261px;
    padding-left: 261px;
    @media (max-width: 1920px) {
        @include adaptive-value( padding-right ,261,7.9,1920,320 );
        @include adaptive-value( padding-left , 261 , 7.9 , 1920 , 320 );
    }
}

@media (max-width: 0px) {}

 
//Header start 
.header {
    z-index: 10;
    width: 100%;
    background: #ffffff;
}

.header__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 66px;
    a {
        color: #000000;
    }
    @media (max-width: 1920px) {
        @include adaptive-value(margin-top  , 34 ,10  , 1920 , 320 );
        @include adaptive-value(margin-bottom ,66 ,48 , 1920 , 320 );
    }
    @media (max-width: 800px) {
        flex-direction: row;
        align-items: center;
    }
}

.header__logo {
    text-align: center;
    z-index: 10;
    margin-bottom: 65px;
    @media (max-width: 800px) {
        width: 82px;
        height: 34px;
        margin-bottom: 0px;
        @include adaptive-value(width  , 82 , 55 , 800 , 320 );
        @include adaptive-value( height , 34 , 23 , 800 , 320 );
    }
}
//Header end

//Меню бургер start
body._lock {
    overflow: hidden;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    
    //Список при открытом бургере
    @media (max-width: 800px) {
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        gap: 25px;
    }
}

.menu__link {
    color: #000000;
    font-size: 34px;
    letter-spacing: -1.71px;
    @media (max-width: 1920px) {
        @include adaptive-value(font-size , 34, 14, 1920 , 320 );
    }
    
}

.menu__icon {
    display: none;
    font-size: 19px;
    color: #CFB28F;
}

@media (max-width: 800px) {
    //Иконка бургера
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        
        cursor: pointer;
    }

    //Список при открытом бургере
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 339px;
        background: #221E29;
        padding: 108px 60px 60px 60px;
        transition: left 0.3s ease 0s;
        
    }
    
    .menu__body::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 34px;
        background: #ffffff;
    }

    .menu__body._active {
        left: 0;
        .menu__link {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            &:hover {
               background: none;
               color: #D8EFE3;
            }
        }
        
    }
    //
}
//Меню бургер end

//Section enum start
.enum__vertical-line {
    position: absolute;
    height: 10px;
    width: 2373px;
    background: linear-gradient(157deg, 
    #F958A1 0%, 
    rgba(251, 88, 141, 0.98) 10%,
     rgba(251, 88, 135, 0.91) 23%, 
     rgba(252, 88, 133, 0.80) 39%, 
     rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%, 
    rgba(255, 88, 101, 0.23) 91%, 
    rgba(255, 89, 91, 0.21) 100%);
    transform-origin: right top;
    transform: rotate(-90deg);
    top: 0px;
    right: 5px;
    @media (max-width: 1920px) {
        @include adaptive-value(height , 10 , 2.16, 1920 , 320 );
        @include adaptive-value(width , 2373 , 521 , 1920 , 320 );
        @include adaptive-value(right, 5 , 2, 1920 , 320 );
    }
}

.enum__horizontal-line{
    position: absolute;
    height: 10px;
    width: 100%;
    background: linear-gradient(to bottom right, 
    rgba(249, 88, 161, 1) 0%,
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%,
    rgba(252, 88, 133, 0.8) 39%,
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%,
    rgba(255, 88, 101, 0.23) 91%,
    rgba(255, 89, 91, 0.21) 100%
    );
    bottom: 0px;
    right: 0px;
    @media (max-width: 1920px) {
    @include adaptive-value(height ,10 ,2.04 , 1920 , 320 );
    }
}

.enum__column {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.enum__title {
    font-size: 70px;
    letter-spacing: -2.06px;
    margin-top: 96px;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size ,70,19,1920,320 );
        @include adaptive-value( margin-top , 96 , 21 , 1920 , 320 );
        
    }
}
.enum__subtitle {
    font-family: 'Roboto Condensed';
    font-size: 38px;
    letter-spacing: -2.06px;
    
    @media (max-width: 1920px) {
        @include adaptive-value( font-size ,38,11,1920,320 );
        @include adaptive-value(  letter-spacing , -2.06 , -0.45 , 1920 , 320 );
        
    }
}

.enum__first-row {
    display: flex;
    position: relative;

}
.enum__first-row-left {
    width: 50%;
    height: 788px;
    position: relative;
    h2{
        margin-bottom: 108px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom ,108 ,23.6 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value( height, 788, 171, 1920 , 320 );
    }
    
}

.enum__first-row-right {
    width: 50%;
    height: 788px;
    h2{
        margin-bottom: 50px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom ,50 ,10 , 1920 , 320 );
        }
    }
    .enum__subtitle{
        margin-bottom: 105px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom ,105 ,9.5 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value( height, 788, 171, 1920 , 320 );
    }
}

.enum__second-row {
    display: flex;
    position: relative;
}
.enum__second-row-left {
    width: 50%;
    height: 818px;
    h2{
        margin-bottom: 108px;
        @media (max-width: 1920px) {
            @include adaptive-value( margin-bottom, 108,23.6 , 1920 , 320 );
        }
    }
    p{
        margin-bottom: 132px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom ,132 ,28 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value( height, 818, 178, 1920 , 320 );
    }
}
.enum__second-row-right {
    width: 50%;
    height: 818px;
    h2{
        margin-bottom: 137px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom ,137 , 30, 1920 , 320 );
        }
        
    }
    p{
        margin-bottom: 103px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom ,103 ,22, 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value( height, 818, 178, 1920 , 320 );
    }
}
.enum__third-row {
    display: flex;
    position: relative;
    margin-bottom: 150px;
    .enum__horizontal-line{
        top: 497px;
        @media (max-width: 1920px) {
            @include adaptive-value(top ,497 ,100 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value(margin-bottom ,150 ,32 , 1920 , 320 );
    }
}
.enum__third-row-left {
    width: 50%;
    height: 767px;
    h2{
        margin-bottom: 108px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom , 108 ,23.6 , 1920 , 320 );
        }
    }
    p{
        margin-bottom: 280px;
        @media (max-width: 1920px) {
            @include adaptive-value( margin-bottom,280 ,51.6 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value(height ,767 , 167, 1920 , 320 );
    }
}
.enum__third-row-right {
    width: 50%;
    height: 767px;
    h2{
        margin-bottom: 108px;
        @media (max-width: 1920px) {
            @include adaptive-value(margin-bottom , 108 ,17 , 1920 , 320 );
        }
    }
    p{
        margin-bottom: 280px;
        @media (max-width: 1920px) {
            @include adaptive-value( margin-bottom,280 ,47 , 1920 , 320 );
        }
    }
    @media (max-width: 1920px) {
        @include adaptive-value(height ,767 , 167, 1920 , 320 );
    }
}

.enum__margin-left{
    margin-left: 42px;
    @media (max-width: 1920px) {
    @include adaptive-value( margin-left,42 , 9, 1920 , 320 );
    }
}

.enum__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: -2.61px;
    width: 462px;
    height: 103px;
    border-radius: 51.5px;
    border-width: 1.5px;
    border-color: #F857A6;
    border-style: solid;
    p {
        color: #F857A6;
        margin-bottom: 0px;
    }
    @media (max-width: 1920px) {
        @include adaptive-value(width , 462 , 100 , 1920 , 320 );
        @include adaptive-value(height ,103  , 22 , 1920 , 320 );
        @include adaptive-value(border-radius  , 51.5 , 11 , 1920 , 320 );
        @include adaptive-value( font-size , 30 , 12 , 1920 , 320 );
        @include adaptive-value( letter-spacing , -2.61 , -0.57, 1920 , 320 );
    }
}
//Section enum end

//Section location start
.location {
    position: relative;
}

.map {
    width: 1398px;
    height: 1535px;
    margin-bottom: 130px;
    @media (max-width: 1920px) {
    @include adaptive-value(height ,1535 , 333, 1920 , 320 );
    @include adaptive-value(width  , 1398 , 304 , 1920 , 320 );
    }
}

.location__button {
    position: absolute;
    bottom: 92px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: -2.61px;
    width: 462px;
    height: 103px;
    border-radius: 51.5px;
    background-color: #727272;
    p {
        color: #FFFFFF;
    }
    @media (max-width: 1920px) {
        @include adaptive-value(bottom ,92 ,22 , 1920 , 320 );
        @include adaptive-value(width , 462 , 100 , 1920 , 320 );
        @include adaptive-value(height ,103  , 22 , 1920 , 320 );
        @include adaptive-value(border-radius  , 51.5 , 11 , 1920 , 320 );
        @include adaptive-value( font-size , 30 , 12 , 1920 , 320 );
        @include adaptive-value( letter-spacing , -2.61 , -0.57, 1920 , 320 );
    }
}
//Section location end

//Section footer start
.footer__column {
    display: flex;
    flex-direction: column;
}
.footer__top {
    display: flex;
    flex-direction: column;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 98px;
        @media (max-width: 1920px) {
            @include adaptive-value(max-width ,98 , 37 , 1920 , 320 );
        }
    }
}

.footer__top-subtitle {
    font-size: 32px;
    letter-spacing: -0.65px;
    margin-bottom: 26px;
    @media (max-width: 1920px) {
        @include adaptive-value(font-size ,32 , 8.11, 1920 , 320 );
        @include adaptive-value( letter-spacing , -0.65 , -0.68 , 1920 , 320 );
        @include adaptive-value( margin-bottom , 26 , 10.53 , 1920 , 320 );
    }
}
.footer__top-title {
    font-size: 98px;
    font-weight: 500;
    @media (max-width: 1920px) {
        @include adaptive-value(font-size , 98, 24.5 , 1920 , 320 );
    }
}

.footer__top-line {
    width: auto;
    height: 1.94px;
    background-color: #000000;
    margin-top: 29px;
    margin-bottom: 70px;
    @media (max-width: 1920px) {
        @include adaptive-value(margin-top ,29 ,38 , 1920 , 320 );
        @include adaptive-value( margin-bottom , 70 , 22 , 1920 , 320 );
        @include adaptive-value( height , 1.94 , 1.31 , 1920 , 320 );
    }
}


.footer__list-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 181px;
    @media (max-width: 1920px) {
        @include adaptive-value( margin-bottom , 181 , 41 , 1920 , 320 );
    }
    @media (max-width: 699px) {
        display: none;
    }
}

.footer__list-bottom-mobile {
    display: none;
    @media (max-width: 699px) {
        display: flex;
        flex-direction: column;
    }
}

.footer__list-bottom-first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    @media (max-width: 1920px) {
        @include adaptive-value(margin-bottom ,42 ,28 , 699 , 320 );
    }
}

.footer__list-bottom-second-row {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 22px;
    letter-spacing: -1.79px;
    @media (max-width: 1920px) {
        @include adaptive-value( font-size,22 ,12 , 1920 , 451 );
        @include adaptive-value( letter-spacing ,-1.79  ,-0.65 , 1920 , 700 );
    }
    @media (max-width: 699px) {
        @include adaptive-value(letter-spacing ,-1.79 ,-1.21 , 699 , 320 );
        @include adaptive-value( font-size,19 ,12 , 699 , 320 );
    }
}

.footer__text a:hover {
    color: #AF5871;
}
//Section footer end