.content-about {
    display: flex;
    flex-direction: column;
    @include adaptiveValue( gap , 70 , 24 );
}

//Section welcome start
.welcome {
    margin-bottom: 70px;
}

.welcome__bottom-body {
    @include adaptiveValue( padding-top , 1398 , 333 );
    display: flex;
    align-items: center;
    gap: 13px;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.welcome__body {
    position: relative;
}

.welcome-image-top {
    position: absolute;
    z-index: 0;
    @media (max-width: 480px) {
        display: none;
    }
}

.welcome-image-mobile {
    display: none;
    position: absolute;
    z-index: 0;
    @media (max-width: 480px) {
        display: block;
    }
}

.welcome__image-bottom {
    position: relative;
    z-index: 1;
    
}

.welcome__body-text {
    @include adaptiveValue( font-size , 44 , 19 );
    max-width: 606px;
}

.welcome__body-title {
    font-family: var(--roboto-slab);
    font-weight: 400;
    color: #727272;
    text-align: center;
    margin-bottom: 70px;
}

.welcome__body-subtitle {
    font-family: var(--roboto-condensed);
    font-weight: 300;
    color: #727272;
    text-align: center;
}
//Section welcome end

//Section intro start
.intro__body {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue( gap , 75 , 20 );
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
}
.intro__left {
    max-width: 510px;
    background: linear-gradient(126deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue( padding-top , 93 , 55 );
    @include adaptiveValue( padding-right , 31 , 14 );
    @include adaptiveValue( padding-bottom , 114 , 70 );
    @include adaptiveValue( padding-left , 10 , 6 );
    @include adaptiveValue( border-radius , 50 , 29 );
}
.intro__left-title {
    font-family: var(--roboto-slab);
    color: #727272;
    margin-bottom: 44px;
    @include adaptiveValue( font-size , 32 , 19 );
    @media (max-width: 480px) {
        @include adaptiveValue( margin-bottom , 60 , 53 , 480 , 320);
    }
}
.intro__left-text {
    font-family: var(--roboto-condensed);
    font-weight: 300;
    color: #727272;
    letter-spacing: -0.87px;
    @include adaptiveValue( font-size , 32 , 19 );
}
.intro__middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 700px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.intro__middle-card {
    max-width: 250px;
    border-radius: 20px;
    border-width: 1px;
    border: #727272;
    position: relative; /* необходим для корректной работы box-shadow */
    box-shadow: 0 0 20px rgba(235, 69, 146, 0.5);
}
.intro__middle-text {
    font-family: var(--roboto-condensed);
    color: #313131;
    @include adaptiveValue( padding-top , 52 , 30 );
    @include adaptiveValue( padding-right , 23 , 11 );
    @include adaptiveValue( padding-left , 18 , 11 );
    @include adaptiveValue( margin-bottom , 55 , 32 );
    @include adaptiveValue( font-size  , 20 , 12 );
}
.intro__middle-title {
    font-weight: 500;
    color: #313131;
    @include adaptiveValue( font-size , 48 , 30 );
    @include adaptiveValue( padding-bottom , 40 , 22 );
    @include adaptiveValue( padding-left , 18 , 10 );
}

.intro__right {
    max-width: 510px;
    background: linear-gradient(126deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue( padding-top , 182 , 108 );
    @include adaptiveValue( padding-right , 69 , 14 );
    @include adaptiveValue( padding-bottom , 182 , 108 );
    @include adaptiveValue( padding-left , 69 , 16 );
    @include adaptiveValue( border-radius , 50 , 29 );
}
.intro__right-title {
    font-family: var(--roboto-slab);
    color: #272727;
    @include adaptiveValue( font-size , 32 , 19 );
    max-width: 371px;
    text-align: center;
    margin-bottom: 40px;
}
.intro__right-text {
    font-family: var(--roboto-condensed);
    font-weight: 300;
    color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
    @include adaptiveValue( font-size , 32 , 19 );
}

//Section intro end

//Section achievements start

.achievements__title {
    font-family: var(--roboto-slab);
    font-weight: 700;
    color: #272727;
    text-transform: uppercase;
    text-align: center;
    @include adaptiveValue( font-size , 28 , 18 );
    @include adaptiveValue( margin-bottom , 43 , 25 );
}

.achievements__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue( row-gap , 192 , 20 );
    @include adaptiveValue( column-gap , 66 , 33 , 1920 , 700 );

    .achievements__card {
        @include adaptiveValue( border-radius , 8 , 3 );
    }
    
    .achievements__card:nth-child(1),
    .achievements__card:nth-child(2),
    .achievements__card:nth-child(3) {
        font-family: var(--roboto-condensed);
        text-transform: uppercase;
        padding-right: 30px;
        @include adaptiveValue( padding-top , 186 , 75 );
        @include adaptiveValue(  padding-left , 46 , 21 );
    }

    .achievements__card:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
        p {
            font-family: var(--sf-pro-display);
            @include adaptiveValue( font-size , 34 , 20 );
        }
        @include adaptiveValue( height , 132 , 65 );
        @include adaptiveValue( border-bottom-left-radius , 22 , 11 );
        @include adaptiveValue( border-bottom-right-radius , 22 , 11 );
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}
.achievements__card {
    @include adaptiveValue( height , 414 , 186 );
    background: linear-gradient(306deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    
}
.achievements__card-text {
    @include adaptiveValue( font-size , 32 , 15 );
}

.achievements__card-button {
    &:hover {
        background: var(--hover-button-color);
    }
}
//Section achievements end

//Section principles start

.principles__title-top {
    font-family: var(--roboto-slab);
    font-weight: 700;
    color: #2e2e2e;
    text-transform: uppercase;
    text-align: center;
    @include adaptiveValue( font-size , 32 , 18 );
    @include adaptiveValue( margin-bottom , 43 , 25 );
}

.principles__title {
    font-family: var(--roboto-slab);
    font-weight: 700;
    color: #2e2e2e;
    font-weight: 700;
    text-align: left;
    @include adaptiveValue( font-size , 32 , 18 );
    @include adaptiveValue( margin-bottom , 43 , 25 );
}

.principles__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue( row-gap , 152 , 20 );
    @include adaptiveValue( column-gap , 116 , 50 , 1920 , 700 );

    .principles__card {
        @include adaptiveValue( border-radius , 8 , 3 );
    }

    .principles__card:nth-child(1),
    .principles__card:nth-child(2),
    .principles__card:nth-child(3){
        text-transform: uppercase;
        padding-right: 30px;
        p {
            font-family: var(--roboto-condensed);
            color: #2e2e2e;
        }
        @include adaptiveValue( padding-top , 186 , 60 );
        @include adaptiveValue(  padding-left , 46 , 21 );
    }

    .principles__card:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
        p {
            font-family: var(--sf-pro-display);
            color: #2e2e2e;
            font-size: 34px;
            @include adaptiveValue( font-size , 34 , 20 );
        }
        @include adaptiveValue( border-bottom-left-radius , 22 , 11 );
        @include adaptiveValue( border-bottom-right-radius , 22 , 11 );
        @include adaptiveValue( height , 132 , 65 );
    }
    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}
.principles__card {
    @include adaptiveValue( height , 531 , 246 );
    background: linear-gradient(306deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
}
.principles__card-text {
    @include adaptiveValue( font-size , 32 , 15 );
}
//Section principles end

//Section team start
.team {
    margin-bottom: 130px;
}

.team__title {
    font-family: var(--roboto-slab);
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
    @include adaptiveValue( font-size , 48 , 18 );
    @include adaptiveValue( margin-bottom , 193 , 70 );
}
.team__body {
    font-family: var(--roboto-condensed);
    text-transform: uppercase;
    color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue( padding-left , 160 , 0 , 1920 , 700 , 1);
    @include adaptiveValue( padding-right  , 190 , 0 , 1920 , 700  , 1);
    @include adaptiveValue( gap , 50 , 5 );
    @media (max-width: 320px) {
        letter-spacing: -0.44px;
    }
}
.team__body-text {
    @include adaptiveValue( font-size , 43 , 15 );
    max-width: 526px;
}
.team__body-image {
    @include adaptiveValue( width , 470 , 158 );
}
//Section team end