//Section welcome start
.welcome {
    @include adaptiveValue( margin-top , 66 , 30 );
}

.welcome__body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.welcome__left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.welcome__title {
    font-family: var(--roboto-condensed);
    letter-spacing: -2.01px;
    max-width: 680px;
    text-align: left;
    span {
        font-weight: 700
    }
    
    @include adaptiveValue(font-size ,48 ,12 );
    
    @media (max-width: 700px) {
        letter-spacing: -0.74px;
    }
    
    @media (max-width: 320px) {
        letter-spacing: -0.45px;
    }
}
.welcome__link {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(90deg, #f857a6, #923362) border-box;
    border-style: solid;
    border-color: transparent;
    p {
        background: linear-gradient(270deg, #f857a6 0%, #923362 100%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0px;
    }
    &:hover {
        background: var(--hover-button-color);
    }
    
    @include adaptiveValue(width , 358 , 79 );
    @include adaptiveValue(height ,103 , 23 );
    @include adaptiveValue(border-radius , 51 , 11 );
    @include adaptiveValue( border-width , 2 , 0.5 );
    @include adaptiveValue( font-size , 46 , 12 );
    @include adaptiveValue( letter-spacing , -2.61 , -0.57 );
    
}
.welcome__image {
    min-width: 158px;
}
//Section welcome end

//Section doctors start
.doctors {
    margin-bottom: 130px;
}

.doctors__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1920px) {
        @include adaptiveValue(column-gap ,126 ,42 , 1920 , 481 , 1 );
        @include adaptiveValue( row-gap , 218 , 80 , 1920 , 481 , 1 );
    }
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
        @include adaptiveValue( row-gap , 80 , 50 , 480 , 320 , 1 );
    }
}

.doctors__card {
    display: flex;
    flex-direction: column;
}

.doctors__card-info {
    border-radius: 50px;
    position: relative; /* необходим для корректной работы box-shadow */
    box-shadow: 0 0 20px rgba(235, 69, 146, 0.5);
    @include adaptiveValue( margin-bottom , 75 , 35 );
}

.doctors__images {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.doctors__images-logo {
    max-height: 258px;
}
.doctors__images-face {
    max-width: 391px;
}
.doctors__title {
    font-family: var(--roboto-condensed);
    letter-spacing: -1.55px;
    @include adaptiveValue( font-size , 47 , 17 , 1920 , 700 , 1);
    @include adaptiveValue( margin-bottom , 80 , 29 , 1920 , 700 , 1 );
    @include adaptiveValue( padding-left , 24 , 11 );

    @media (max-width: 700px) {
        letter-spacing: -0.57px;
    }
    @media (max-width: 480px) {
        @include adaptiveValue( margin-bottom , 55 , 47 , 480 , 320 , 1 );
        @include adaptiveValue( font-size , 35 , 17 , 480 , 320 , 1);
        letter-spacing: -1.11px;
    }
    @media (max-width: 320px) {
        letter-spacing: -0.75px;
    }
}
.doctors__subtitle {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(padding-left ,31 ,11 );
    @include adaptiveValue(padding-bottom ,65 , 42 );
    @include adaptiveValue(padding-right ,27 , 9 , 1920 , 700 ,1);
    @include adaptiveValue(gap ,38 , 14 , 1920 , 700, 1 );
    @media (max-width: 480px) {
        @include adaptiveValue(gap , 45 , 30 , 480 , 320, 1 );
    }
}

.doctors__subtitle-font {
    font-weight: 500;
    @include adaptiveValue( letter-spacing, -2.09 , -0.76, 1920 , 700, 1);
    @include adaptiveValue( font-size, 32 , 12, 1920 , 700, 1);

    @media (max-width: 700px) {
        letter-spacing: -0.76px;
    }
    @media (max-width: 480px) {
        @include adaptiveValue( font-size, 20 , 12, 480 , 320 , 1);
        letter-spacing: -0.7px;
    }
    @media (max-width: 320px) {
        letter-spacing: -0.5px;
    }
}

.doctors__subtitle-number {
    font-weight: 500;
    @include adaptiveValue(font-size ,55 ,27 );
}

.doctors__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(126deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    &:hover {
        background: var(--hover-button-color);
    }
    @include adaptiveValue( height , 129 , 62 );
    @include adaptiveValue( border-bottom-left-radius , 25 , 10 );
    @include adaptiveValue( border-bottom-right-radius , 25 , 10 );
}
.doctors__card-button-text {
    font-family: var(--sf-pro-display);
    color: #2e2e2e;
    @include adaptiveValue( font-size , 40 , 20 );
}

.doctors__subtitle-first-row {
    display: flex;
    align-items: center;
    .doctors__subtitle-number {
        margin-right: 3px;
    }
}

.doctors__subtitle-second-row {
    display: flex;
    align-items: center;
    .doctors__subtitle-number {
        @include adaptiveValue( margin-right , 30 , 10 , 1920 , 320 , 1 );
    }
}

.doctors__subtitle-image-container {
    margin-right: 9px;
}

.doctors__subtitle-image {
    @include adaptiveValue( width , 48 , 25 , 1920 , 320 , 1 );
}
//Section doctors end