.documents-content {
    display: flex;
    flex-direction: column;
    font-family: var(--roboto-condensed);
    color: #727272;
    margin-bottom: 130px;
    @include adaptiveValue( gap, 130,22 );

    .button-text {
        font-family: var(--font-family-base);

        //Start (устанавливает градиентный цвет текста у кнопки)
        background: linear-gradient(270deg, #f857a6 0%, #923362 100%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //End

        @include adaptiveValue( font-size , 45 , 12 );
        @include adaptiveValue( letter-spacing , -2.61 , -0.57 );
    }

    .normativ__button ,
    .reglament__button ,
    .standarts__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        //Start (устанавливает градиент окантовки кнопки)
        background: linear-gradient(white, white) padding-box, 
                    linear-gradient(90deg, #f857a6, #923362) border-box;
        border-style: solid;
        border-color: transparent;
        //end
        &:hover {
            background: var(--hover-button-color);
        }
        @include adaptiveValue(width , 462 , 100 );
        @include adaptiveValue(height ,103  , 22 );
        @include adaptiveValue(border-radius  , 51.5 , 11 );
        @include adaptiveValue( border-width , 2 , 0.5 );
        @include adaptiveValue( margin-top , 180 , 30 );
        @include adaptiveValue( margin-bottom , 175 , 38 );
    }

    h2 {
        text-align: center;
        letter-spacing: -2.05px;
        @include adaptiveValue( font-size , 65 , 30 , 1920 , 701 , 1);
        @include adaptiveValue( margin-bottom , 104 , 22);
        
        @media (max-width: 700px) {
            @include adaptiveValue(font-size ,30 , 28, 700 , 481 , 1);
            letter-spacing: -0.75px;
        }
        @media (max-width: 480px) {
            @include adaptiveValue( font-size , 28 , 19 , 480 , 320 , 1);
            letter-spacing: -0.66px;
        }
        @media (max-width: 320px) {
            letter-spacing: -0.44px;
        }
    }
    
    h3 {
        letter-spacing: -2.05px;
        padding-right: 10px;
        @include adaptiveValue( font-size , 45 , 13 );
        
        @media (max-width: 700px) {
            letter-spacing: -0.75px;
        }
        @media (max-width: 480px) {
            letter-spacing: -0.66px;
        }
        @media (max-width: 320px) {
            letter-spacing: -0.44px;
        }
    }
}

//Section normativ start
.normativ {
    display: flex;
    flex-direction: column;
    @include adaptiveValue( margin-top , 66 , 48 );
}

.normativ__body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .normativ__card:nth-child(1), 
    .normativ__card:nth-child(2) {
        @include adaptiveValue( padding-top , 340 , 64 );
    }
    .normativ__card:nth-child(3), 
    .normativ__card:nth-child(4) {
        @include adaptiveValue( padding-top , 375 , 78 );
    }
    .normativ__card:nth-child(5), 
    .normativ__card:nth-child(6),
    .normativ__card:nth-child(7), 
    .normativ__card:nth-child(8) {
        @include adaptiveValue( padding-top , 176 , 37 );
    }
    
    .normativ__card:nth-child(2),
    .normativ__card:nth-child(4),
    .normativ__card:nth-child(6),
    .normativ__card:nth-child(8) {
        @include adaptiveValue( padding-left , 41 , 9 );
    }
}
.normativ__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.normativ__horizontal-line-1 {
    grid-row: 2;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(164deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(253, 88, 119, 0.65) 55%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.normativ__horizontal-line-2 {
    grid-row: 3;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(164deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(253, 88, 119, 0.65) 55%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.normativ__horizontal-line-3 {
    grid-row: 4;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(164deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(253, 88, 119, 0.65) 55%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.normativ__vertical-line {
    position: absolute;
    transform: translateX(-50%);
    height: 100%;
    grid-column: 2; /* Указываем номер колонки */
    background: linear-gradient(74deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(253, 88, 119, 0.65) 55%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(width , 10 , 2.16 );
}
//Section normativ end

//Section reglament start
.reglament {
    display: flex;
    flex-direction: column;
}

.reglament__body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .reglament__card:nth-child(1), 
    .reglament__card:nth-child(2) {
        @include adaptiveValue(padding-top ,340 , 72 );
    }
    .reglament__card:nth-child(3), 
    .reglament__card:nth-child(4) {
        @include adaptiveValue(height ,250 ,54 );
    }

    .reglament__card:nth-child(2) {
        @include adaptiveValue( padding-left , 41 , 9 );
    }
}
.reglament__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reglament__horizontal-line-1 {
    grid-row: 2;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, 
    rgba(249, 88, 161, 1) 0%,
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%,
    rgba(252, 88, 133, 0.8) 39%,
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%,
    rgba(255, 88, 101, 0.23) 91%,
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.reglament__vertical-line {
    position: absolute;
    transform: translateX(-50%);
    height: 100%;
    grid-column: 2; /* Указываем номер колонки */
    
    background: linear-gradient(157deg, 
    #F958A1 0%, 
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%, 
    rgba(252, 88, 133, 0.80) 39%, 
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%, 
    rgba(255, 88, 101, 0.23) 91%, 
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(width , 10 , 2.16 );
}
//Section reglament end

//Section standarts start
.standarts {
    display: flex;
    flex-direction: column;
}

.standarts__body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .standarts__card:nth-child(1), 
    .standarts__card:nth-child(2) {
        @include adaptiveValue( padding-top , 340 , 64 );
    }
    .standarts__card:nth-child(3), 
    .standarts__card:nth-child(4) {
        @include adaptiveValue( padding-top , 375 , 78 );
    }
    .standarts__card:nth-child(5), 
    .standarts__card:nth-child(6),
    .standarts__card:nth-child(7),
    .standarts__card:nth-child(8),
    .standarts__card:nth-child(9) {
        @include adaptiveValue( padding-top , 176 , 37 );
    }
    
    .standarts__card:nth-child(2),
    .standarts__card:nth-child(4),
    .standarts__card:nth-child(6),
    .standarts__card:nth-child(8) {
        @include adaptiveValue( padding-left , 41 , 9 );
    }
}
.standarts__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.standarts__horizontal-line-1 {
    grid-row: 2;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, 
    rgba(249, 88, 161, 1) 0%,
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%,
    rgba(252, 88, 133, 0.8) 39%,
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%,
    rgba(255, 88, 101, 0.23) 91%,
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.standarts__horizontal-line-2 {
    grid-row: 3;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, 
    rgba(249, 88, 161, 1) 0%,
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%,
    rgba(252, 88, 133, 0.8) 39%,
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%,
    rgba(255, 88, 101, 0.23) 91%,
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.standarts__horizontal-line-3 {
    grid-row: 4;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, 
    rgba(249, 88, 161, 1) 0%,
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%,
    rgba(252, 88, 133, 0.8) 39%,
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%,
    rgba(255, 88, 101, 0.23) 91%,
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.standarts__horizontal-line-4 {
    grid-row: 5;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, 
    rgba(249, 88, 161, 1) 0%,
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%,
    rgba(252, 88, 133, 0.8) 39%,
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%,
    rgba(255, 88, 101, 0.23) 91%,
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(height ,10 ,2.04 );
}

.standarts__vertical-line {
    position: absolute;
    transform: translateX(-50%);
    height: 100%;
    grid-column: 2; /* Указываем номер колонки */
    
    background: linear-gradient(157deg, 
    #F958A1 0%, 
    rgba(251, 88, 141, 0.98) 10%,
    rgba(251, 88, 135, 0.91) 23%, 
    rgba(252, 88, 133, 0.80) 39%, 
    rgba(253, 88, 119, 0.65) 55%,
    rgba(253, 88, 118, 0.48) 73%, 
    rgba(255, 88, 101, 0.23) 91%, 
    rgba(255, 89, 91, 0.21) 100%);
    @include adaptiveValue(width , 10 , 2.16 );
}
//Section standart end