//Header start 
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 699px) {
        flex-direction: row;
        align-items: center;
    }
    
}

.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #7A787F;
}

.header__logo {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 44px;
    @include adaptiveValue( margin-top , 34 , 12 , 1920 , 700 , 1 );
    @include adaptiveValue( margin-bottom , 44 , 24 , 1920 , 700 , 1 );
    @media (max-width: 699px) {
        margin-bottom: 0px;
    }
}

.header__logo-mobile {
    display: none;
    @media (max-width: 699px) {
        display: flex;
        justify-content: center;
    }
}

//Header end

//Меню бургер start
body._lock {
    overflow: hidden;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    //Список при открытом бургере
    @media (max-width: 699px) {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

.menu__link {
    font-size: 34px;
    @include adaptiveValue( font-size , 34 , 14 , 1920 , 700 , 1 );
    @media (max-width: 699px) {
        letter-spacing: -0.62px;
        @include adaptiveValue( font-size , 29 , 20 , 480 , 320 , 2 );
    }
}

.menu__icon {
    display: none;
}

@media (max-width: 699px) {
    //Иконка бургера
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        cursor: pointer;
    }

    .menu__icon._active{
        p {
            display: none;
        }
    }

    
    
    //Список при открытом бургере

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        
        background: #bfe8f5;
        transition: left 0.3s ease 0s;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .menu__body._active {
        left: 0;
        .menu__link {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            &:hover {
               background: none;
               color: #D8EFE3;
            }
        }
        
    }
    //
}
//Меню бургер end