//секция signup start

.signup {
    @include adaptiveValue( margin-top , 60 , 9);
    @include adaptiveValue( margin-bottom , 60 , 23 );
}
.signup__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__title {
    font-weight: 700;
    text-align: center;
    max-width: 1188px;
    @include adaptiveValue( font-size , 40 , 13 );
    @include adaptiveValue( margin-bottom , 75 , 20 );
}
.signup__subtitle {
    text-align: center;
    max-width: 800px;
    @include adaptiveValue( font-size , 22 , 10 );
    @include adaptiveValue( margin-bottom , 40 , 23 );
}

.signup__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
    p {
        color: #fff;
    }
    &:hover {
        background: var(--hover-button-color);
    }
    @include adaptiveValue(width , 240 , 102 );
    @include adaptiveValue(height ,67  , 29 );
    @include adaptiveValue(border-radius , 33 , 14 );
    @include adaptiveValue( font-size , 22 , 12 );
    @include adaptiveValue( letter-spacing , -2.61 , -0.73 );
    
}
//секция signup end

//Slider start
.swiper-slide {
    position: relative;
    pointer-events: auto;
    transition: transform 0.3s;
    transform: scale(0.41);
}

.swiper-pagination {
    position: relative;
}

.swiper-pagination {
    position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
    margin-top: 32px;
}

.swiper-pagination-bullet {
    background: #ffffff; /* Цвет фона буллета */
    border-width: 0.57px;   /* Толщина границы */
    border-style: solid; /* Стиль границы */
    border-color: #B0B0B0; /* Цвет границы, например черный */
    width: 29px;         /* Ширина буллета */
    height: 29px;        /* Высота буллета */
    opacity: 1;         /* Убедитесь, что буллет не полупрозрачный */
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
    @include adaptiveValue( width , 29 , 17 );
    @include adaptiveValue( height , 29 , 17 );
}


.swiper-pagination-bullet-active {
    background: #B0B0B0;
}

//Slider end

//Advantage start
.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    @include adaptiveValue( margin-top , 91 , 32 );
}
.advantage__header {
    font-weight: 700;
    letter-spacing: -1.71px;
    @include adaptiveValue( font-size , 58 , 15 );
    @include adaptiveValue( margin-bottom , 93 , 18 );

    @media (max-width: 480px) {
        letter-spacing: -0.62px;
    }

}
.advantage__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include adaptiveValue( column-gap , 54 , 17 );
    @include adaptiveValue( row-gap , 100 , 9 );
    @media (max-width: 480px) {
        grid-template-columns: 1fr 1fr;
    }
}

.advantage__title {
    font-weight: 500;
    letter-spacing: -1.29px;
    @include adaptiveValue( font-size , 32 , 14 );

    @media (max-width: 480px) {
        letter-spacing: -0.63px;
    }

    @media (max-width: 320px) {
        letter-spacing: -0.43px;
    }
}
.advantage__subtitle {
    margin-bottom: 9px;
    @include adaptiveValue( font-size , 20 , 10 );
    @media (max-width: 700px) {
        font-weight: 300;
    }

}

.advantage__item {
    display: flex;
    flex-direction: column;
}

.advantage__button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(90deg, #f857a6, #923362) border-box;
    border-style: solid;
    border-color: transparent;
    margin-top: auto;
    p {
        letter-spacing: -1.71px;
        background: linear-gradient(270deg, #f857a6 0%, #923362 100%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @include adaptiveValue( padding-left , 74 , 12 );
        @include adaptiveValue( padding-right , 74 , 12 );
        @include adaptiveValue( font-size , 20 , 11 );

        @media (max-width: 480px) {
            letter-spacing: -0.84px;
        }
        @media (max-width: 320px) {
            letter-spacing: -0.56px;
        }
    }

    &:hover {
        background: var(--hover-button-color);
        
    }
    
    @include adaptiveValue(height , 66 , 22 );
    @include adaptiveValue(border-radius , 33 , 11 );
    @include adaptiveValue( border-width , 2 , 0.5 );
}
//Advantage end

//Installment start
.installment {
    position: relative;
    margin-bottom: 32px;
}

.installment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(126deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    opacity: 0.6;
    z-index: -1;
    @include adaptiveValue( border-radius , 29 , 9 );
}
.installment__row {
    display: flex;
    @include adaptiveValue( gap , 150 , 28 );
}

.installment__left-row {
    @include adaptiveValue( padding-top , 125 , 75 );
    @include adaptiveValue( padding-left , 55 , 3 );
    @include adaptiveValue( padding-bottom , 105 , 79 );
}

.installment__left-row-title {
    font-weight: 700;
    @include adaptiveValue( font-size , 76 , 22 );
    @include adaptiveValue( margin-bottom , 325 , 57 );
}

.installment__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: transparent;
    letter-spacing: -2.61px;
    p {
        letter-spacing: -1.71px;
        @include adaptiveValue( font-size , 26 , 11 );
        @media (max-width: 480px) {
            letter-spacing: -0.98px;
        }
        @media (max-width: 320px) {
            letter-spacing: -0.56px;
        }
    }
    &:hover {
        background: var(--hover-button-color);
    }
    @include adaptiveValue( height , 88 , 26 );
    @include adaptiveValue( width , 370 , 109 );
    @include adaptiveValue( border-radius , 44 , 13 );
    @include adaptiveValue( border-width , 2 , 0.38 );
}
.installment__right-row {
    display: flex;
    flex-direction: column;
    padding-top: 28px;
}

.installment__right-row-title {
    font-family: var(--manifold-extended-cf);
    font-weight: 300;
    @include adaptiveValue( font-size , 380 , 83 );
}

.installment__right-row-subtitle {
    font-family: var(--manifold-extended-cf);
    font-weight: 100;
    @include adaptiveValue( font-size , 46 , 12 );
}

//Installment end

//Services start
.services {
    margin-bottom: 32px;
}
.services__header {
    font-weight: 700;
    text-align: center;
    @include adaptiveValue( font-size , 58 , 15 );
    @include adaptiveValue( margin-bottom , 93 , 23 );
}
.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include adaptiveValue( column-gap , 68 , 30 );
    @include adaptiveValue( row-gap , 68 , 40 );
    @media (max-width: 480px) {
        grid-template-columns: 1fr 1fr;
    }
}
.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* необходим для корректной работы box-shadow */
    box-shadow: 0 0 20px rgba(235, 69, 146, 0.5);
    @include adaptiveValue( height , 435 , 182 , 1920 , 700, 1 );
    @include adaptiveValue( border-radius , 40 , 10 );
    @include adaptiveValue( padding-top , 21 , 11 );
    @include adaptiveValue( padding-bottom , 10 , 4 );
    @media (max-width: 480px) {
        @include adaptiveValue( height , 303 , 205 , 480 , 320 , 1 );
    }
}
.services__image {
    @include adaptiveValue( width , 251 , 91 , 1920 , 700 , 1 );
    @include adaptiveValue( margin-bottom , 30 , 18 );
    @media (max-width: 480px) {
        @include adaptiveValue( width , 168 , 115 , 480 , 320 );
    }
}

.services__title {
    font-weight: 500;
    text-align: center;
    @include adaptiveValue( font-size , 24 , 11 , 1920 , 700 , 1 );
    @media (max-width: 480px) {
        @include adaptiveValue( font-size , 16 , 11 , 480 , 320 , 1 );
    }
}
.services__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: transparent;
    margin-top: auto;

    p {
        letter-spacing: -1.71px;
        @include adaptiveValue( font-size , 20 , 11 );

        @media (max-width: 480px) {
            letter-spacing: -0.7px;
        }

        @media (max-width: 320px) {
            letter-spacing: -0.56px;
        }
    }

    &:hover {
        background: var(--hover-button-color);
    }
    
    @include adaptiveValue(height , 53 , 21 );   
    @include adaptiveValue(border-radius  , 25 , 10 );
    @include adaptiveValue( border-width , 0.74 , 0.3 );
    @include adaptiveValue( padding-left , 60 , 11 );
    @include adaptiveValue( padding-right , 60 , 11 );
}
//Services end

//Meet start
.meet {
    margin-bottom: 32px;
}
.meet__header {
    font-weight: 700;
    text-align: center;
    @include adaptiveValue( font-size , 58 , 15 );
    @include adaptiveValue( margin-bottom , 93 , 18 );
}
.meet__row {
    display: flex;
    align-items: center;
    @include adaptiveValue( gap , 65 , 14 );
    
}
.meet__image {
    @include adaptiveValue( width , 766 , 168 );

}
.meet__row-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue( padding-top , 168 , 6 );
    @include adaptiveValue( padding-bottom , 168 , 6 );
}

.meet__row-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(126deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    opacity: 0.6;
    z-index: -1;
    border-style: solid; /* Стиль границы */
    border-color: #f4c1e1;
    @include adaptiveValue( border-radius , 29 , 9 );
    @include adaptiveValue( border-width , 13.39 , 2.95 );
}

.meet__text {
    text-align: center;
    @include adaptiveValue( padding-left , 22 , 6 );
    @include adaptiveValue( padding-right , 25 , 6 );
    @include adaptiveValue( margin-bottom , 100 , 12 );
    @include adaptiveValue( font-size , 30 , 11 );

    @media (max-width: 480px) {
        font-weight: 300;
    }
    @media (max-width: 320px) {
        letter-spacing: -0.28px;
    }
}
.meet__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: transparent;
    border-style: solid;

    .meet__button-text {
        letter-spacing: -1.44px;
        @include adaptiveValue( font-size , 20 , 11 );

        @media (max-width: 480px) {
            letter-spacing: -0.69px;
        }
        
        @media (max-width: 320px) {
            letter-spacing: -0.56px;
        }
    }
    &:hover {
        background: var(--hover-button-color);
    }
    
    @include adaptiveValue(height , 67 , 25 );
    @include adaptiveValue( width , 236 , 89 );
    @include adaptiveValue(border-radius , 33.5 , 10 );
    @include adaptiveValue( border-width , 0.82 , 0.31 );
    
}
//Meet end

//Welcome start
.welcome {
    margin-bottom: 32px;
    @media (max-width: 480px) {
        margin-bottom: 130px;
    }
}
.welcome__column {
    display: flex;
    flex-direction: column;
}
.welcome__first-row {
    display: flex;
    @include adaptiveValue( gap , 8 , 3 , 1920 , 481 , 1 );
    @include adaptiveValue( margin-bottom , 23 , 15 );
    @media (max-width: 480px) {
        flex-direction: column;
        @include adaptiveValue( gap , 23 , 17 , 480 , 320 , 1 );
    }
}
.welcome__first-row-text-left {
    font-family: var(--roboto-condensed);
    letter-spacing: -1.71px;
    @include adaptiveValue( font-size , 60 , 19 );

    @media (max-width: 700px) {
        letter-spacing: -0.62px;
    }

    @media (max-width: 480px) {
        letter-spacing: -0.95px;
    }

    @media (max-width: 320px) {
        letter-spacing: -0.65px;
    }
}

.welcome__first-row-right {
    display: flex;
    flex-direction: column;
}

.welcome__first-row-text-right {
    font-family: var(--roboto-condensed);
    letter-spacing: -1.71px;
    @include adaptiveValue( font-size , 30 , 14 );
    @include adaptiveValue( margin-bottom , 47 , 14 );

    @media (max-width: 700px) {
        letter-spacing: -0.62px;
    }
    @media (max-width: 480px) {
        letter-spacing: -1.18px;
    }
    @media (max-width: 320px) {
        letter-spacing: -0.8px;
    }
}

.welcome__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(127deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    .welcome__button-text {
        color: #fff;
        letter-spacing: -1.48px;
        @include adaptiveValue( font-size , 28 , 14 );

        @media (max-width: 480px) {
            letter-spacing: -1.02px;
        }
        @media (max-width: 320px) {
            letter-spacing: -0.69px;
        }
    }
    &:hover {
        background: var(--hover-button-color);
    }
    
    @include adaptiveValue( height , 67 , 30 );
    @include adaptiveValue( width , 243 , 114 );
    @include adaptiveValue( border-radius , 29 , 13 );
    
}

.welcome__second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include adaptiveValue( column-gap , 38 , 13 );
    @media (max-width: 480px) {
        grid-template-columns: 1fr 1fr;
        row-gap: 23px;
        .wide {
            grid-column: -1 / 1;
        }
    }
}


.welcome__card {
    display: flex;
    flex-direction: column;
    position: relative;
    @include adaptiveValue( padding-top , 99 , 32 );
    @include adaptiveValue( padding-bottom , 99 , 32 );
    @include adaptiveValue( padding-left , 45 , 15 );
}

.welcome__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(126deg, #f958a1 0%, rgba(251, 88, 141, 0.98) 10%, rgba(251, 88, 135, 0.91) 23%, rgba(252, 88, 133, 0.8) 39%, rgba(252, 88, 134, 0.83) 42.57%, rgba(253, 88, 119, 0.65) 59.9%, rgba(253, 88, 118, 0.48) 73%, rgba(255, 88, 101, 0.23) 91%, rgba(255, 89, 91, 0.21) 100%);
    opacity: 0.6;
    z-index: -1;
    @include adaptiveValue( border-radius , 29 , 9 );
}

.welcome__text {
    font-family: var(--roboto-condensed);
    white-space: nowrap;
    letter-spacing: -2.28px;
    margin-bottom: 30px;
    @include adaptiveValue( font-size , 38 , 23 , 1920 , 1301 , 1 );
    @media (max-width: 1300px) {
        letter-spacing: -1.55px;
        @include adaptiveValue( font-size , 23 , 13 , 1300 , 320 , 1 );
    }
    @media (max-width: 900px) {
        font-size: 16px;
        letter-spacing: -1.07px;
        @include adaptiveValue( font-size , 16 , 13 , 900 , 320 , 1 );
    }
    @media (max-width: 700px) {
        letter-spacing: -0.83px;
    }
    @media (max-width: 480px) {
        text-align: center; 
    }
}
.welcome__card-title {
    font-family: var(--roboto-condensed);
    white-space: nowrap;
    @include adaptiveValue( font-size , 106 , 30 , 1920 , 481 , 1 );
    @media (max-width: 480px) {
        @include adaptiveValue( font-size , 52 , 36 , 480 , 320 , 1 );
    }
    @media (max-width: 480px) {
        text-align: center; 
    }
}

.wide {
    @include adaptiveValue( padding-left , 33 , 23 );
    @media (max-width: 480px) {
        font-size: 40px;
    }

    .welcome__text {
        @media (max-width: 480px) {
            letter-spacing: -2.32px;
            text-align: left;
            @include adaptiveValue( font-size , 38 , 27 , 480 , 320, 1 );
        }
    }

    .welcome__card-title {
        @media (max-width: 480px) {
            text-align: left;
            @include adaptiveValue( font-size , 100 , 67 , 480 , 320 , 1);
        }
    }
}
//Welcome end